<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br/>

    <form method="post" action="{% url 'search_site:index' %}">
        {% csrf_token %}
        {{query_form}}
        <input type="submit" value="Submit">

    </form>

    {% if results %}
     
    
        <table>
            <tr>
                <th>#</th>
                <th>Document Name </th>
                <th>Link</th>
                <th>Highlighted Link</th>
            </tr>
            {% for result in results %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{result.doc_name}}</td>
                    <td><a href="{{result.doc_file.url}}">Link</a></td>
                    <td><a href="{% url 'search_site:highlight_pdf' %}?pages={{pages}}&search_text=attention&doc={{result.id}}">Link</a></td>
                </tr>
            {% endfor %}
            
        </table>
    {% endif %}
</body>
</html>