<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{% url 'search_site:upload' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{upload_form}}
        <input type="submit" value="submit">
    </form>
</body>
</html>