<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
        <form action="{% url 'search_site:login' %}" method="post">
            {% csrf_token %}
            {{ login_form}} 
            <button type="submit">Login</button>
        </form>
    
</body>
</html>